/* Estilos generales del componente Card */
.card {
    border: 1px solid #333; /* Borde más oscuro */
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: #222; /* Fondo oscuro */
    transition: background-color 0.3s;
    color: #fff; /* Texto blanco */
    opacity: 0.8;
    width: 395px;
    margin: auto;
    margin-top: 5px;
    position: relative;
  }
  
  .card:hover {
    background-color: #302725; /* Color naranja al pasar el cursor */
    cursor: pointer;
  }
  
  .card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .card-content {
    flex: 1;
  }

  .linked {
    color: #ff253a;

    font-size: 18px;
    font-weight: 700;
    position: relative;
    /* text-decoration: none; */
    top: 2px;
  }
  
  .card-title {
    font-size: 18px;
    margin: 0;
    color: #ffffff;
    /* text-overflow: ellipsis; */
    text-align: center;
    height: 20px;
    overflow: hidden;
  }
  
  .card-preview {
    width: 75%;
    height: 40px;
    margin-top: 10px;
    color: #FF5733;
  }
  .dot {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    animation: colorChange 2s infinite alternate;
    right: 12px;
    top: 75px;
}

@keyframes colorChange {
    0% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: red;
    }
}